<h1 id="page_title"><%= @user.username %>的信息</h1>
<p id="notice"><%= notice %></p>
 
<p>
  <b>用户名:</b>
  <%= @user.username %>
</p>
 
<p>
  <b>邮箱:</b>
  <%= @user.email %>
</p>

<%= link_to 'Rails布告板', boards_path %>

